:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: #000;
  background-color: #fff7ed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  color: #4d4d4d;
  padding-bottom: 0.1em;
}

nav > a:hover {
  border-bottom: 2px solid #161616;
  color: #161616;
}
